<div class="panel panel-default">
  <% if @comments.any? %>
    <ui class="list-group">
      <% @comments.each do |comment| %>
          <li class="list-group-item" >
            <div class="title">
              <h4><%= link_to comment.post.title, post_path(comment.post), style: "color:grey" %>
                <small>at <%= timeago(comment.created_ati) %></small>
              </h4>
            </div>
            <div class="info">
              <a href=<%= "#{post_path(comment.post)}#comment-#{comment.id}"%> style="color:grey">
                <%= comment.body[0..50] %>
              </a>
            </div>
          </li>
      <% end %>
    </ui>

    <div class="panel-footer">
      <%= will_paginate @comments, class: "pagination" %>
    </div>
  <% else %>
    <div class="panel-body">
      <p>nothing</p>
    </div>
  <% end %>
</div>
