<ul class="nav nav-tabs">
  <li class=<%= "active" if active_name==nil%>>
    <a href=<%= user_path(@user) %> >info detail</a>
  </li>
  <li class=<%= "active" if active_name=="posts"%>>
    <a href=<%= posts_user_path(@user) %> >posts</a>
  </li>
  <li class=<%= "active" if active_name=="comments"%>>
    <a href=<%=comments_user_path(@user)%>>comments</a>
  </li>
</ul>
