<div class="panel panel-default">
  <ui class="list-group">
    <% @posts.each do |post| %>

        <li class="meida list-group-item">
          <div class="media-body">
            <div class="title media-heading">
              <h4><%= link_to post.title, post_path(post) %>
                <small> created at <%= post.created_at %></small></h4>
            </div>
            <div class="info">
              <%= post.content[0..50] %>
            </div>
          </div>
          <div class="count media-right">
            <% if post.comments.any? %>
                <%= link_to post.comments.count.to_s, post_path(post)+'#comment-'+post.comments.last.id.to_s %>
            <% end %>
          </div>
        </li>
    <% end %>
  </ui>

  <div class="panel-footer">
    <%= will_paginate @posts, class: "pagination" %>
  </div>
</div>
