<div class="panel panel-default">
  <div class="panel-heading">info</div>
  <div class="panel-body">
    <div class="media">
      <div class="avatar media-left">
        <%= user_avatar_tag @user, :lg %>
      </div>
      <div class="infos media-body">
        <div class="item">
          <h4>
            <%= @user.username %>
          </h4>
        </div>
        <div class="item">
          created at <%= timeago(@user.created_at) %>
        </div>
        <div class="item">
          have <%= @user.posts.count %> posts
        </div>
        <div class="item">
          have
          <%= @user.comments.count %>
          comments
        </div>
      </div>
    </div>
  </div>
</div>
