<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading"> sign up </div>
      <div class="panel-body">
        <div class="col-lg-12">

          <%= form_for @user, html: {class: "form-horizontal"} do |f| %>
            <% if @user.errors.any? %>
                <div class="alert alert-danger">
                  <%= pluralize(@user.errors.count, 'error') %>
                  <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="form-group">
              <%= f.text_field :username , class: "form-control", placeholder: "username" %>
            </div>
            <div class="form-group">
              <%= f.text_field :password , class: "form-control", placeholder: "password" %>
            </div>

            <div class="form-group">
                <%= f.submit "Sign up", class: 'btn btn-primary'%>
                <%= link_to "Log in", new_session_path, class: "btn btn-default" %>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>

  </div>
</div>