<div class="row">
  <div class="col-lg-9">
    <div class="topic-detail panel panel-default">
      <div class="panel-heading media">
        <div class="media-body">
          <h1 class="media-heading">
            <%= @post.title %>
            <% if logged_in? && current_user?(@post.user) %>
            <%= link_to "edit", edit_post_path, class: "btn btn-default btn-sm" %>
            <% end %>
          </h1>
          <div class="info">
            <%= link_to @post.author, user_path(User.find_by(username: @post.author)), class: "user-name" %>
            ·
            created at <%= @post.created_at.to_date %>
            <% if @post.comments.any? %>
            ·
            <% user = @post.comments.last %>
            <%= link_to user.commenter, user_path(user), class: "user-name"%>
            ·
            commented at
            <%= @post.comments.last.created_at.to_date %>
            <% end %>
            ·
            <%= @post.view_count %> 次阅读
          </div>
        </div>
        <div class="media-right">
          <a href=<%= user_path(User.find_by(username: @post.author)) %>>
            <%= user_avatar_tag @post.user, :md, link: false %>
          </a>
        </div>
      </div>
      <div class="panel-body">
        <%= sanitize markdown(@post.content) %>
      </div>
    </div>

    <%= render 'comments/show_comments' %>
    <% if logged_in? %>
        <%= render 'comments/add_comment_form' %>
    <% else %>
        <div class="panel panel-default">
          <div class="panel-heading">add comment</div>
          <div class="panel-body">
            需要
            <%= link_to "login", new_session_path, class: "btn btn-primary"%>
            后方可回复, 如果你还没有账号请点击这里
            <%= link_to "sign up", new_user_path, class: "btn btn-danger" %>
          </div>
        </div>
    <% end %>

  </div>
  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">...</div>
      <ul class="list-group">
        <li class="list-group-item"><%= link_to "回到文章", post_path(@post) %></li>
        <li class="list-group-item">...</li>
        <li class="list-group-item">...</li>
        <li class="list-group-item">...</li>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><%= @post.tags.count %> tags</div>
      <div class="panel-body">
        <div class="tags-list">
          <% @post.tags.each do |tag| %>
          <div class="tag-box">
            <a href="#">#<%= tag.name %>(<%= tag.posts.count %>)</a>
          </div>
          <% end %>
        </div>
      </div>
      <div class="panel-footer">
        <%= link_to "add tag", edit_tag_post_path, style: "clear: both" %>
      </div>
    </div>
  </div>
</div>
