<div class="row">
  <div class="col-lg-9">
    <div class="topic-detail panel panel-default">
      <div class="panel-heading media">
        <div class="media-body">
          <h1 class="media-heading">
            <%= @post.title %>
          </h1>
          <div class="infos">
            <%= link_to @post.author, user_path(User.find_by(username: @post.author)), class: "user-name" %>
            ·
            created at <%= @post.created_at.to_date %>
            <% if @post.comments.any? %>
            ·
            <%= @post.comments.last.commenter %>
            ·
            commented at
            <%= @post.comments.last.created_at.to_date %>
            <% end %>
            ·
            <%= @post.view_count %> 次阅读
          </div>
        </div>
        <div class="media-right">
          <a href=<%= user_path(User.find_by(username: @post.author)) %>>
            <%= image_tag @post.user.avatar_url, class: 'avatar-48' %>
          </a>
        </div>
      </div>
      <div class="panel-body">
        <%= sanitize markdown(@post.content) %>
      </div>
    </div>

    <%= render 'comments/show_comments' %>
    <% if logged_in? %>
        <%= render 'comments/add_comment_form' %>
    <% else %>
        <div class="panel panel-default">
          <div class="panel-heading">add comment</div>
          <div class="panel-body">
            需要
            <%= link_to "login", new_session_path, class: "btn btn-primary"%>
            后方可回复, 如果你还没有账号请点击这里
            <%= link_to "sign up", new_user_path, class: "btn btn-danger" %>
          </div>
        </div>
    <% end %>

  </div>
  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">...</div>
      <ul class="list-group">
        <li class="list-group-item">...</li>
        <li class="list-group-item">...</li>
        <li class="list-group-item">...</li>
      </ul>
    </div>
  </div>
</div>
