<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>Post
        <%= link_to "edit", edit_post_path(@post), class: "btn btn-default" %>
      </h1>
    </div>
  </div>
</div>


<% if @post==nil %>
    <div style="text-align:center">could not find this post</div>
<% else %>

    <div class="row">
      <div class="col-lg-12" style="text-align:center">
        <h1> <%= @post.title %> </h1>
      </div>
      <div class="col-lg-3 col-lg-offset-6">
        <h3>
          ---- <%= @post.author %>
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          <%= @post.content %>
        </p>
      </div>
    </div>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h2>
        comments list
      </h2>
    </div>
    <%= render 'comments/show_comments' %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h2>
        add comment
      </h2>
    </div>
  </div>
</div>

<%= render 'comments/add_comment_form' %>


