<div class="row">
  <div class="col-lg-9">
    <div class="topic-detail panel panel-default">
      <div class="panel-heading media">
        <div class="media-body">
          <h1 class="media-heading">
            <%= @post.title %>
          </h1>
          <div class="infos">
            <%= link_to @post.author, user_path(User.find_by(username: @post.author)), class: "user-name" %>
            created at
            <%= @post.created_at %>
          </div>
        </div>
        <div class="media-right">
          <a href=<%= user_path(User.find_by(username: @post.author)) %>>
            <%= letter_avatar_tag(Pinyin.t(@post.author), 48, class: "av img-circle") %>
          </a>
        </div>
      </div>
      <div class="panel-body">
        <%= @post.content %>
      </div>
    </div>

    <%= render 'comments/show_comments' %>
    <%= render 'comments/add_comment_form' %>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">...</div>
      <ul class="list-group">
        <li class="list-group-item">...</li>
        <li class="list-group-item">...</li>
        <li class="list-group-item">...</li>
      </ul>
    </div>
  </div>
</div>
