<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <%= link_to "Home", root_path, class: "navbar-brand" %>
          </div>

          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to "Posts", posts_path, class: "active" %></li>
              <li><%= link_to "Users", users_path %></li>
            </ul>
            <ui class="nav navbar-nav navbar-right">
              <% if logged_in? %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-plus"></i>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li> <%= link_to "new post", new_post_path %> </li>
                  <li class="divider"></li>
                </ul>
              </li>
              <li class="dropdown user-bar" style="height:60px">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <%= user_avatar_tag current_user, :sm, link: false %>
                  <%= current_user.username %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="">
                    <%= link_to current_user.username, user_path(current_user) %>
                  </li>
                  <li class="divider"></li>
                  <li class="">
                    <%= link_to "log out",
                                session_url(id: session[:user_id]), method: :delete,
                                date: {confirm: "log out"}%>
                  </li>
                </ul>
              </li>
              <% else %>
              <li>
                <%= link_to "Login", new_session_path %>
              </li>
              <li>
                <%= link_to "Sign up", new_user_path %>
              </li>
              <% end %>
            </ui>
          </div>

        </div>
      </nav>
    </div>

    <div class="container">

      <% if flash[:notice] %>
          <div class="alert alert-info">
            <%= flash[:notice] %>
          </div>
      <% end %>

      <%= yield %>

    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>This is footer</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
